* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header_logo_nav {
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
}

nav a {
    background-color: black;
    color: aliceblue;
    border: 2px solid black;
    border-radius: 10%;
    padding: 3px;
    margin-right: 5px;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    text-decoration: none;
}

.logo {
    width: 150px;
}

.nav2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: bisque;
    padding: 20px;

}

.nav2 a {
    text-decoration: none;
}

.social {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: space-between;
}