* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body */
.container-box {
    min-height: 100vh;


}

/* header */
.logo {
    width: 150px;
    display: flex;
}

.header_logo_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    padding: 10px;
    background: #363434;
}

.nav2 {
    background: #5c5757;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
}

.nav2 a {
    text-decoration: none;
    font-size: xx-large;
}

h3 {
    font-size: xx-large;
}


.img-fit {
    height: 300px;
    width: 300px;
    object-fit: cover;
}



/* aqui stats table */
table,
thead,
tr,
th,
tbody,
td {
    border: 2px solid black;
}

.rounded-2 {
    border: 2px solid black;
}


.border-top {
    border: 2px solid black;
}

div.category{
    display: flex;
    align-items: center;
}

.tamanioFoto{
    height: 100px !important ;
    object-fit: cover  !important;
}